<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>

	<%- include('./partials/header') %>

	<% for (let i = 0; i < products.length; i++) { %>
		<%	const product = products[i]; %>
		  
	  
		  <% if (product.id == id) { %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= products[id-1].name %> </h2> 
			<p class="product-detail-description">
				<a href="/product/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					
					
					
					
					
								
					<img src= <%= products[id-1].img %> alt="" class="product-detail-img">
					
					<p class="product-detail-description">
						<%= products[id-1].description %>
					</p>
					<% }} %>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="/images/profilePicture/juanpablo.jpg" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/users">JUAN PABLO: </a> </strong>
								 Súper recomendado</p>
							</div>
						</article>
						<article>
							<img src="/images/profilePicture/hector.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users">HÉCTOR: </a> </strong>
									Especial para acompañar un asado en familia. Recomiendo guardarlo a 15°. </p>
							</div>
						</article>
						<article>
							<img src="/images/profilePicture/roxana.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users"> ROXANA: </a> </strong>
									¡Me encanta! Es de mis favoritos. Lo probé por primera vez en mi luna de miel <3
									</p>
							</div>
						</article>
						<article>
							<img src="/images/profilePicture/valeria.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users"> VALERIA: </a> </strong>
								Prefiero vinos más suaves. Sin embargo, no me digusta. Saludos desde el norte del país.	</p>
							</div>
						</article>
						<article>
							<img src="/images/profilePicture/nicolas.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users"> NICOLÁS: </a> </strong>
									¡A mis hermanos y a mí nos encanta! Nos acompaña en todas las fiestas y reuniones familiares.</p>
							</div>
						</article>

					</section>
					<form class="form" action="/" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="btn-outline-dark" onclick="alert('¡Tu comentario ha sido enviado con éxito!')">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

   <!-- footer -->
   <%- include('partials/footer') %>
   <!-- /footer -->

</body>	
</html>