<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<% if( user.log ){ %>
		<%- include('./partials/headerLogueado.ejs') %>
		<%} else { %>
		<%- include('./partials/header.ejs') %>
	  
		<% } %>
	
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<% if( user.log ){ %>
			<div class="col-12">
			  <h2 class="products-title text-center">Bienvenid@ <%= user.name %> </h2>
			</div>
		  
		  <%}%>   
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= products.wine_name %> </h2>
			
			<p class="product-detail-description">
				<% if (user.id== products.user_id) { %>
				<a href="/product/product-edit/<%= products.id %> ">Editar</a>
				<form action="/product/delete/<%= products.id %>" method="POST">
					<button type="submit" class="btn btn-dark btn-outline-dark"> <i class="fas fa-trash" style="color: #B99871;"></i></button>
				</form>
				
				<% } %>
			</p>
		</div>
		<div>
			<h3><a href="/users/<%= products.user.id %> "> Añadido por <%= products.user.name + ' ' + products.user.lastname%></a></h3>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">


					<img src="/images/products/<%=products.wine_image %>"  alt="" class="product-detail-img">

					<p class="product-detail-description">
						<%= products.wine_description %>
					</p>
					
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">

						<% for (let i = 0; i < products.comment.length; i++) { %>
						<%	const comentarioUser = products.comment[i]; %>



						<article>
							<img src="/images/profilePicture/<%= comentarioUser.user.img  %>" alt="Imagen de <%= comentarioUser.user.name %>">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/<%= comentarioUser.user_id %>"><%= comentarioUser.user.name %>: </a> </strong>
										<%= comentarioUser.texto_comentario %></p>
										<% if (user.id == comentarioUser.user_id ) { %>
										 <form action="/product/comment/delete/<%= comentarioUser.id %>" method="POST">
											<input type="hidden" value="<%= products.id %>" name="idProduct" >
											<button type="submit" class="btn btn-dark btn-outline-dark"> <i class="fas fa-trash" style="color: #B99871;"></i></button>
										</form>
										<% } %>
										
							</div>
						</article>
						<% } %>


					</section>
					<form class="form" action="/product/comment" method="POST">
						<input name="comment" class="form-input" type="text" value="" placeholder="Agregar comentario" minlength="5" >
						<input name="idUser" type="hidden" value="<%= user.id  %> ">
						<input name="idProduct" type="hidden" value="<%= products.id  %> ">
						<button minlength="5" type="submit" class="btn btn-outline-dark">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>

</html>