<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<%- include('./partials/headerLogueado') %>
	<div class="container products-wrapper">
		<div class="row">
			<% if( user.log ){ %>
				<div class="col-12">
				  <h2 class="products-title text-center">Bienvenid@ <%= user.name %> </h2>
				</div>
			  
			  <%}%>   
			
			 <div class="col-12">
				<h2 class="products-title">Editar Producto</h2>
			</div>
			
			
		</div>
	</div>
	<!-- Novedades -->
	<div class="container">
		<div class="row justify-content-md-center">
			<form class="register-form col-6" action="/product/product-edit" method="POST" enctype="multipart/form-data">
				<input type="hidden" name="id" value="<%= product.id %>">
				<label for="">Nombre:</label>
				<input type="text" name="wineName" placeholder="" value="<%= product.wine_name %>">
				<label for="">Tipo:</label>
				<input type="text" name="wineType" placeholder="" value="<%= product.wine_type %>">
				<label for="">Descripción:</label>
				<input type="text" name="wineDescription" placeholder="" value="<%= product.wine_description %>">
				<label for="">Variedad:</label>
				<input type="text" name="wineVariety" placeholder="" value="<%= product.wine_variety %>">
				<label for="">Año:</label>
				<input type="number" name="wineYear" placeholder="" value="<%= product.wine_year %>">
				<label for="">Imagen:</label>
				<input type="file" name="wineImage" placeholder="" >
				<button type="submit" class="btn-outline-dark">Enviar</button>
			</form>
		</div>
	</div>


	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>

</html>